<div class="bg-blue text-center pt-4 mt-4">
  <div>
    <img class="w-14 inline-block" [src]="imgSrc" />
  </div>
  <div class="mt-4">
    <a href="/">About</a>
  </div>
  <div class="mt-4 pb-4">
    <a href="/">Contact us</a>
  </div>
  <div class="pb-4">
    <a
      href="https://www.youtube.com/channel/UCCGxZYh5eg2qE6ftqxYeZLQ"
      target="_blank"
      ><img class="w-14 inline-block" [src]="youtubeImg"
    /></a>
  </div>
</div>
<app-horizontal-divider [marginTop]="false"> </app-horizontal-divider>
