<div>
  <div class="text-center text-4xl">MARKETPLACE</div>
  <div class="mt-8 ml-8 text-warning" *ngIf="!metaMaskExists">
    {{ metaMaskErrorMessage }}
  </div>

  <div *ngIf="buySuccess" class="mt-8 ml-8">
    <p>
      Your purchase was successful. Take a look at
      <a class="text-success" [href]="etherScanUrl" target="_blank">{{
        etherScanUrl
      }}</a>
    </p>
  </div>

  <div class="mt-8 ml-8 flex flex-row overflow-x-scroll">
    <div *ngFor="let nft of marketPlaceNfts; index as i">
      <app-nft-card
        [imgSrc]="nft.image"
        [coordinates]="nft.attributes[3].value"
        [name]="nft.name + '\t' + nft.id"
        [nft]="nft"
        (nftBought)="onNFTBought($event)"
      ></app-nft-card>
    </div>
  </div>
  <div class="mt-12 flex flex-row items-center justify-center mx-6">
    <img [src]="imgSrc" />
    <div class="ml-6 text-2xl">
      An NFT is a non-fungible token, a unique digital representaiton of an
      object.
    </div>
  </div>
  <app-horizontal-divider></app-horizontal-divider>
</div>
