/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext");

.heading {
  font-family: "Josefin", sans-serif;
  font-size: 16px;
}

body {
  font-family: "Josefin Sans";
}
