<div class="text-center">
  <section>
    <div class="my-8 text-4xl">THE AMAZON</div>
    <img class="w-full" [src]="amazonImg" />
    <div class="my-8 text-4xl">IS IN DANGER</div>
    <img class="w-full" [src]="amazonBurningImg" />
    <div>
      <div class="flex flex-row justify-around mt-16">
        <div class="m-4"><img [src]="skull1" /></div>
        <div class="m-4"><img [src]="skull2" /></div>
      </div>
    </div>
  </section>
  <app-horizontal-divider></app-horizontal-divider>
  <section>
    <div>
      <div class="my-16 text-4xl">THE SOLUTION - FORESTART</div>
      <img [src]="ethereumBg" />
    </div>
    <div class="my-16">
      <div class="flex flex-row justify-around mt-16">
        <div class="m-4"><img [src]="amazoncircle1" /></div>
        <div class="m-4"><img [src]="amazoncircle2" /></div>
      </div>
      <div class="mt-16 w-2/3 m-auto">
        <p class="text-2xl">
          Using NFTs. Each of our tokens is related to a specific Amazon forest
          reserve for a specific time interval, ensuring its conservation and
          also providing a sustainable financial solution for future projects.
        </p>
      </div>
    </div>
  </section>
  <app-horizontal-divider></app-horizontal-divider>
  <section>
    <div>
      <div class="my-16 text-4xl">OUR MISSION</div>
      <div>
        To make sure future generations can still discover the secrets of the
        rainforest.
      </div>
    </div>
    <div class="mx-4 mt-16">
      <img class="m-auto" [src]="missionSrc" />
    </div>
    <div class="mt-24">
      <div class="m-4"><img class="m-auto" [src]="cryptocircle" /></div>
      <div class="my-16 text-4xl">Green, Transparent, Sustainable</div>
      <div class="mt-20 mb-16 text-4xl">In cooperation with:</div>
      <div>
        <img [src]="lbbw" class="m-auto" />
      </div>
    </div>
  </section>
  <app-horizontal-divider></app-horizontal-divider>

  <section>
    <div class="my-16 text-4xl">PROOF OF SUSTAINABILITY</div>
    <div class="m-4">
      <div class="m-auto w-2/3 mb-16">
        The 2-stage proof of sustainability model validates that the forest has
        been truly protected. In the first step, satellite images are
        conitnuously collected (via an oracle) and checked regarding the forest
        state. In the second step a helicopter records once a year the protected
        areas with certified measuring devices (GPS tracker connected with
        camera).
      </div>

      <img class="m-auto pb-4" [src]="posImg" />
    </div>
  </section>
  <app-horizontal-divider></app-horizontal-divider>
  <section>
    <div class="mt-12 mx-4">
      <img class="m-auto pb-4" [src]="projectFacts" />
    </div>
  </section>
  <app-horizontal-divider></app-horizontal-divider>
  <section>
    <div class="my-16 text-4xl">MARKETPLACE</div>
    <div class="mb-16">
      <div class="flex flex-row justify-between w-4/5 m-auto">
        <div class="mr-8">
          <img [src]="marketPlaceImgs[0]" />
          <p>200 €</p>
        </div>
        <div class="mr-8">
          <img [src]="marketPlaceImgs[1]" />
          <p>300 €</p>
        </div>
        <div class="mr-8">
          <img [src]="marketPlaceImgs[0]" />
          <p>200 €</p>
        </div>
        <div class="mr-8">
          <img [src]="marketPlaceImgs[1]" />
          <p>300 €</p>
        </div>
      </div>
    </div>
    <div class="mb-16">
      <button
        (click)="onMoreClick()"
        class="text-4xl bg-green-1 p-4 text-white"
      >
        MORE
      </button>
    </div>
  </section>
  <section>
    <div class="text-center">
      <img class="m-auto h-16" [src]="logo" />
    </div>
  </section>
</div>
